div {
    margin-left: 300px; 
    
  }
  p {
    text-align: left;
    
  }
  p2 {
    text-align: center;
    width:50%;
    padding:6px;
    text-align: center;
    
  }
  p3 {
    text-align: center;
    width:50%;
    padding:6px;
    text-align: center;
    
    
  }